In [133]:
import pandas as pd

In [134]:
df = pd.read_csv('ner.csv')
df.head()

                                               token  label
0  ['Bahasa', 'C', 'mulai', 'dirilis', 'pada', 't...    NaN
1  ['Untuk', 'paradigma', 'yang', 'dipakai', 'mas...    NaN
2  ['Python', 'sendiri', 'bersifat', 'dinamis', '...    NaN
3  ['PHP', 'dikembangkan', 'pada', 'tahun', '1994...    NaN
4  ['SQL', 'adalah', 'bahasa', 'pemrograman', 'ya...    NaN

In [135]:
df = df.apply(lambda x: x.astype(str).str.lower())

In [136]:
tokens = df['token']

In [137]:
def perusahaan(word):
    myList = ["tokopedia", "dana", "gojek", "traveloka", "tiket.com", "shopee", "bukalapak", "ovo", "ajaib", "google"]

    return word in myList

def skills(word):
    myList = ["c", "c++", "python", "php", "sql", "typescript", "go", "golang", "javascript", "html", "css", "ruby", "xml", "apache"]

    return word in myList

# def univ(word):
#     myList = ["universitas gadjah Mada", "institut teknologi bandung", "institut pertanian bogor", "Institut Teknologi Sepuluh Nopember", "Universitas Padjadjaran", "Bina Nusantara", "Universitas Diponegoro", "Universitas Telkom"]
#     myList = [item.lower() for item in myList]

#     return word in myList

def univ(word):
    myList = ["ugm", "itb", "ipb", "its", "unpad", "binus", "undip", "tel-u"]
    myList = [item.lower() for item in myList]

    return word in myList

def profesi(word):
    myList = ["web developer", "cloud engineer", "data analytics", "data scientist", "game developer", "konsultan it", "software engineer", "digital marketing", "digital marketer", "front-end developer", "back-end developer", "it support", "programmer"]
    myList = [item.lower() for item in myList]

    return word in myList

In [138]:
output = list()
for i in tokens:
    baris = list()
    i = i.replace("'", "").strip("][").split(', ')
    for j in i:
        # 1 perusahaan
        if perusahaan(j) == True:
            baris.append(1)
        # 2 skills 
        elif skills(j) == True:
            baris.append(2)
        # 3 universitas
        elif univ(j) == True:
            baris.append(3)
        elif profesi(j) == True:
            baris.append(4)
        # 5 others
        else:
            baris.append(5)
    output.append(baris)

In [139]:
for i in output:
    for j in i:
        print(j, end=" ")
    print()

5 2 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 2 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
5 5 5 5 5 5 5 5 2 5 5 2 5 5 5 5 5 5 5 5 5 5 5 5
2 5 5 5 5 5 5 5 5 5 5 5 5 2 5 5 5 5 5 5 5
2 5 5 5 5 5 5 5 5 5 5 5 5 5 5 2 5 2 5 5 5 5 5 5 5 5 2 5 5 5 5 5 5
2 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 2 5 5 5 5 5 5 5 5
2 5 5 5 5 5 5 5 2 5 5 5 5 2 5 2 5 5 5 5 5 5 5 5 5 5 5 5 5
5 5 5 5 5 5 2 5 5 5 5 5 5 5 5 2 5 5 5 5 5 5 5 5 5 5 2 5 5 5 5
2 5 5 5 5 5 5 1 5 5 5 2 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
2 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 2 5 2 5 5 5 5 5 5 5 2 5 5 5 5 5 5 5
5 5 3 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 5 5 5 5 5 5
5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
5 5 3 5 5 5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 5 5 5 5 5 5 5
5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
5 5 3 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 5 5 5
5 5 3 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
5 5 3 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 5 5 5
5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 3 5 5 5 5 5 5
5 5 3 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 5
5 5 3 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 5 5 5 5 5 5
5 1 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 1 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
1 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 1 5 5 5 5 5 5 5 5
1 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 1 5 5 5 5 5 5 5
1 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 1 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
1 5 5 5 5 5 5 5 5 5 5 5 5 1 5 5 5 5 5 5 5 5 5
1 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 1 5 5 5 5 5 5 5 5
1 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 1
1 5 5 5 5 5 5 5 5 5 5 5 5 5 1 5 5 5 5 5 5 5 5 5
1 5 5 5 5 5 5 5 5 5 5 5 5 1 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
1 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 1 5 5 5 5 5 5 5 5 5 5 5 5 5 5
4 5 5 5 5 5 5 5 4 5 5 4 5 5 5 5 5 5 5 5 5
5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
4 5 5 5 5 5 5 5 5 5 4 5 5 5 5 5 5 5 5 5 5 5 5
4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 4 5 5 5 5 5 5 5 5 5
4 5 5 5 5 5 5 5 5 5 5 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
4 5 5 5 5 5 5 5 4 5 5 5 5 5 5 5 5 5 5
4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 4 5 5 5 5 5 5 5 5 5 5
4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
5 4 5 5 5 5 5 4 5 5 5 5 5 5 5 5 5 5 4 5 5 5 5 5 5 5 5
4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 4 5 5 5 5 5 5 5 5 2 5 2 5 5 2
4 5 5 5 5 5 5 5 5 5 5 5 4 5 5 5 5 5 5 2 5 2 5 2 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 2
4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 4 5 5 5 5 5 5 5 5 5 5 5
5 5 5 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 5 5 5 5 5 5 5 5 5 4

In [141]:
data = list(zip(tokens, output))

dataset = pd.DataFrame(data, columns = ['tokens', 'tags']) 
# dataset

In [145]:
js = dataset.to_json('ner_dataset.json')